@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.4em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

input:focus,
textarea:focus {
  outline: #535bf2;
  outline-style: solid;
  outline-width: 2px;
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-close {
  transform: translateX(-100%);
}

.product-card {
  margin: 2.5rem;
  display: flex;
  width: 100%;
  max-width: 20rem;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #fff;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sidebar {
  z-index: 10;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 18rem;
  background-color: #fff;
  color: #fff;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-arrow-left {
  position: absolute;
  inset-inline-start: 0px;
  top: 0;
  z-index: 30;
  height: 100%;
  background-color: transparent;
}

.carousel-arrow-right {
  position: absolute;
  inset-inline-end: 0px;
  top: 0;
  z-index: 30;
  height: 100%;
  background-color: transparent;
}

.sidebar-content {
  padding-left: 0.75rem;
  padding-top: 0.25rem;
}

.sidebar-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

/* hide arrows in input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
